{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "comments": false,
  "env": {
    "minify": {
      "presets": ["@babel/preset-react", ["babel-preset-minify"]]
    }
  }
}
